body {
  background: var(--body-bg);
  color: var(--body-fg);
  margin: 0;
  padding: 0;
  margin-left: 20px;
  transition: all .3s ease;

  &.darkmode {
    a {
      color: var(--body-acc2);
      transition: all .3s ease;
    }
    #darkmode-toggle {
      background: var(--body-bg);
      transition: all .3s ease;
    }
  }
}

:root {
  --body-bg: #141414;
  --body-fg: #aaa;
  --body-acc: #00ee00;
  --body-acc2: #001100;
}
.darkmode {
  background: var(--body-fg);
  color: var(--body-bg);
  transition: all .3s ease;
}

#darkmode-toggle {
  position: fixed;
  float: right;
  top: 20px;
  right: 20px;
  background: var(--body-fg);
  cursor: pointer;
  padding: 10px;
  width: 100px;
  height: 50px;
}

a {
  color: var(--body-acc);
  &::after {
    content: attr(href);
  }
}