$disconline: #23a55a ;
$discidle: #f0b232 ;
$discdnd: #f23f43 ;
$discoffline: #80848e ;


body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}


#cont {
  margin: 50px;

  .statind {
    $wh: 100px;
    width: $wh;
    height: $wh;
    background: $discoffline;
    border-radius: 50%;
  }
  .stattxt {
    margin: 5px 0 25px;
  }

  .spotify {
    margin-bottom: 5px;
  }

  #spotifyinfo {
    background: #1ed760;
    color: #000;
    border-radius: 25px;
    width: calc(256px + (10px * 2));

    img {
      $wh: 256px;
      width: 256px;
      height: 256px;
      border-radius: 25px;
      padding: 10px;
      display: block;
      margin: 0 auto;
    }

    .info {
      text-align: center;
      padding-bottom: 10px;
    }
  }
  
  .localfile {
    text-align: center;
    display: none;
  }
}


footer {
  position: fixed;
  background: #0005;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
}