body {
  background: #141414;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.cont {
  display: inline-block;    /* margins */
  width: calc((100vw / 3) - (10px + 16px));
  vertical-align: middle;
  margin: 0 5px;
}
.cont img {
  display: block;
  width: 100%;
}
.cont figcaption {
  font-size: 30px;
  padding: 10px 0 10px 10px;
  position: relative;
  background: rgba(20, 20, 20, 0.6666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  bottom: 54px;
}
.cont figcaption a {
  color: #fff;
}
.cont figcaption a:hover {
  color: #aaa;
  text-decoration: unset;
}
