#cont {
  background: #2b2a33;
  width: 780px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 10px;
  border: 1px solid #75747a;
  padding: 30px;
  font-size: 15px;

  .header {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid #75747a;

    a {
      text-decoration: none;
      transition: none;
      &:hover {
        text-decoration: underline;
        transition: none;
      }
    }
  }
}

.up a {
  text-decoration: none;
  transition: none;
  &:hover {
    color: #fff;
    text-decoration: underline;
    transition: none;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -20px 4px;
    vertical-align: middle;
    background: url(chrome://global/skin/dirListing/up.png) center/16px;
  }
}

table {
  width: 95%;
  margin-top: 10px;

  tr {
    outline: 1px solid transparent;
    th,
    td {
      text-align: left;
      &:not(:first-child) {
        text-align: right;
      }
    }
    &:hover {
      outline: 1px solid #75747a;
    }
  }

  td a {
    text-decoration: none;
    transition: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
      transition: none;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: -20px 4px;
      vertical-align: middle;
      background: url(chrome://global/skin/dirListing/folder.png) center/16px;
    }
    &[href="./README.md"]::before {
      background: url(./md.ico) center/16px !important;
    }
  }
}