@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000 url("../img/backgroundimg.jpg") no-repeat 0 0/cover;
  background-size: 1920px 1080px;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  color: #fff;
  text-decoration: underline;
}

#root {
  width: 50vw;
  background: rgba(53, 58, 39, 0.9411764706);
  height: -moz-max-content;
  height: max-content;
  display: block;
  margin: 20px auto 100px auto;
  box-shadow: 0 0 20px 5px #000;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 10px;
}

#top {
  display: flex;
  font-weight: 300;
  height: 200px;
  padding: 40px 30px 20px;
}
#top div.avatar {
  float: left;
  width: 200px;
  height: 200px;
}
#top div.avatar img.avatar {
  display: block;
  position: relative;
  height: 180px;
  z-index: 1;
}
#top div.avatar img.avatar.decoration {
  height: 216px;
  z-index: 2;
  top: -201.6px;
  left: -16px;
}
#top .badge {
  width: 400px;
  float: right;
  font-size: 20px;
  padding-right: 10px;
}
#top .badge .level {
  font-weight: 300;
}
#top .badge .level span {
  font-weight: 400;
  border-radius: 50%;
  outline: 2px solid #c02942;
  padding: 5px;
  margin-left: 5px;
  color: #c4c4c4;
}
#top .badge .badgeinfo {
  background: #26291c;
  width: 100%;
  height: 75px;
  margin-top: 20px;
  border-radius: 5px;
}
#top .badge .badgeinfo img {
  height: 54px;
  width: 54px;
  margin: 10px;
  float: left;
}
#top .badge .badgeinfo span {
  position: relative;
  font-size: 15px;
}
#top .badge .button,
#top .badge .button button {
  display: block;
  margin: 10px auto 0 auto;
  width: 95%;
  height: 40px;
}
#top .badge .button button {
  background: #495235;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #c4c4c4;
  font-weight: 500;
  font-size: 18px;
  box-shadow: none;
  transition-property: box-shadow color background;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
#top .badge .button button:hover {
  cursor: pointer;
  color: #fff;
  background: #525b3b;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3333333333);
  transition-property: box-shadow color background;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
#top .info {
  float: right;
  position: relative;
  width: calc(100% - 200px);
  left: 10px;
  text-align: left;
}
#top .info .nameinfo,
#top .info .bio {
  width: 75%;
}
#top .info .nameinfo .name,
#top .info .bio .name {
  font-size: 25px;
}
#top .info .nameinfo .small,
#top .info .bio .small {
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
  color: #aaa;
}
#top .info .nameinfo .small img,
#top .info .bio .small img {
  position: relative;
  height: 12px;
  top: 0;
  margin: 0 5px;
}
#top .info .bio {
  font-weight: 400;
  margin: 25px 0;
  font-size: 14px;
  color: #c4c4c4;
}
#top .info .bio div:not(:has(a))::before {
  content: "-";
}
#top .info .bio img {
  position: relative;
  display: inline-block;
  height: 15px;
  margin: 0 5px;
  top: 2px;
}
#top .info .bio img[src*=ferryman]:first-child {
  margin-left: 0;
}

#infostuff {
  display: flex;
  font-weight: 300;
  height: 100%;
  /* left */
  /* right */
}
#infostuff .left,
#infostuff .right {
  background: #26291c;
  margin: 10px;
  border-radius: 5px;
}
#infostuff .left {
  width: calc(70% - 15px);
  margin-right: 5px;
}
#infostuff .right {
  width: calc(30% - 15px);
  margin-left: 5px;
}
#infostuff .recent {
  background: #515a3b;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
#infostuff .recent span {
  float: right;
}
#infostuff .game {
  background: #1b1d14;
  margin: 25px 10px;
  height: 150px;
  border-radius: 5px;
}
#infostuff .game img {
  height: 75px;
  margin: 10px;
}
#infostuff .game img ~ span {
  position: absolute;
  margin-top: 10px;
}
#infostuff .game .info {
  position: relative;
  background: #515a3b;
  width: 100%;
  height: 50px;
  top: 1px;
  left: 0;
  border-radius: 0 0 5px 5px;
}
#infostuff .game.current {
  outline: #23a55a 2px solid;
  height: 95px;
}
#infostuff .game.current img {
  float: left;
}
#infostuff .game.current .gameinfo {
  position: relative;
  top: 10px;
}
#infostuff #status {
  margin: 10px 0 0 10px;
  font-size: 20px;
  text-transform: capitalize;
}
#infostuff #status .statushead {
  color: #80848e;
}
#infostuff #status .statushead.idle {
  color: #f0b232;
}
#infostuff #status .statushead.online {
  color: #23a55a;
}
#infostuff #status .statushead.dnd {
  color: #f23f43;
}
#infostuff #status .statushead.offline {
  color: #80848e;
}
#infostuff #status .statushead.ingame {
  color: #90ba3c;
}
#infostuff #status .statushead ~ .activestatus {
  margin-top: 5px;
  color: #90ba3c;
  font-size: 16px;
}
#infostuff .links {
  font-size: 18px;
  margin: 10px;
}
#infostuff .links ul {
  list-style: none;
  padding: 0;
}
#infostuff .links ul li {
  margin: 25px 0;
}
#infostuff .links ul.list {
  margin-bottom: 0;
}
#infostuff .links ul.list li:last-child {
  margin-bottom: 10px;
}
#infostuff .links .img {
  margin-top: 0;
}/*# sourceMappingURL=custom.css.map */