body {
  font-family: monospace;
}
@font-face {
  font-family: "Discordinated";
  src: url("https://kckarnige.is-a.dev/femboi_owo/DISCORDINATED.woff");
  /* https://github.com/kckarnige/kckarnige.github.io/tree/main/femboi_owo */
}


.pfpstuff {
  $outline: #000 solid;
  $transition: all .5s ease;
  $sd-wh: 70px;

  display: block;
  margin: 40px auto 20px;
  width: 340px;
  height: 340px;

  #pfp {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    outline: 10px $outline;
  }
  #statusdot {
    background: #000;
    width: $sd-wh;
    height: $sd-wh;
    position: relative;
    border-radius: 50%;
    left: calc(($sd-wh * 4 - 20px));
    bottom: calc($sd-wh + 10px);
    outline: 7px $outline;
    &:hover .tooltiptext {
      visibility: visible;
    }
    .tooltiptext {
      padding: 5px 15px;
      top: 115%;
      left: 85%;
    }
  }
  /* i hate this so much but i have to do it */
}

.tooltiptext {
  visibility: hidden;
  background-color: #555a;
  backdrop-filter: blur(4px);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 17px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.otherstuff {
  font-family: Discordinated;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 25px;
  div {
    width: 260px;
    text-align: center;
    margin: 0 auto;
  }
  /* ???? */

  #userid {
    $transition: .2s ease;
    cursor: pointer;
    padding: 5px;
    transform: translateY(0);
    transition: background $transition, transform .05s linear;
    &:hover {
      background: rgba($color: #fff, $alpha: .2);
      .tooltiptext {visibility: visible;}
    }
    &:active {
      transform: translateY(5px);
    }
    .tooltiptext {
      padding: 5px;
    }
  }

  #status img {
    position: relative;
    margin-right: 5px;
    height: 29px;
    vertical-align: middle;
    top: -2px;
  }
}

.spotifycont {
  $wnh: 240px;
  display: none;
  margin: 20px auto 0;
  background: #1ed760aa;
  padding: 10px;
  width: 30%;
  height: calc($wnh);
  border-radius: 25px;

  .imgcont {
    float: left;
    display: block;
    width: $wnh;
    height: $wnh;
    max-width: $wnh;
    max-height: $wnh;
    img {
      height: 100%;
      border-radius: 25px;
    }
  }
  .spotifylink {
    float: right;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    &:hover .tooltiptext {
      visibility: visible;
    }
    .tooltiptext {
      width: 150px;
      padding: 5px;
      top: -110%;
      left: -10%;
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: #000;
      outline: 2px #000 solid;
    }
  }
  .songinfo {
    width: $wnh;
    float: right;
    text-align: center;
    display: block;
    font-size: 17px;
    padding-right: 10px;
    position: relative;
    top: 33%;
    left: -22%;
    transform: translate(50%, -50%);
  }
}

footer {
  position: fixed;
  background: #0005;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
}