body {
  font-family: monospace;
  overflow-x: hidden;
}

@font-face {
  font-family: "Discordinated";
  src: url("https://kckarnige.is-a.dev/femboi_owo/DISCORDINATED.woff");
  /* https://github.com/kckarnige/kckarnige.github.io/tree/main/femboi_owo */
}
.pfpstuff {
  display: block;
  margin: 40px auto 20px;
  width: 300px;
  height: 300px;
  /* i hate this so much but i have to do it */
}
.pfpstuff #pfp {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  outline: 10px #000 solid;
}
.pfpstuff #statusdot {
  background: #000;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  left: 222px;
  bottom: 80px;
  outline: 7px #000 solid;
}
.pfpstuff #statusdot:hover .tooltiptext {
  visibility: visible;
}
.pfpstuff #statusdot .tooltiptext {
  padding: 5px 15px;
  top: 115%;
  left: 85%;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgba(85, 85, 85, 0.6666666667);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 17px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.otherstuff {
  font-family: Discordinated;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 25px;
  /* ???? */
}
.otherstuff div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.otherstuff #userid {
  cursor: pointer;
  padding: 5px;
  transform: translateY(0);
  transition: background 0.2s ease, transform 0.05s linear;
}
.otherstuff #userid:hover {
  background: rgba(255, 255, 255, 0.2);
}
.otherstuff #userid:hover .tooltiptext {
  visibility: visible;
}
.otherstuff #userid:active {
  transform: translateY(5px);
}
.otherstuff #userid .tooltiptext {
  padding: 5px;
}
.otherstuff #status img {
  position: relative;
  margin-right: 5px;
  height: 29px;
  vertical-align: middle;
  top: -2px;
}

.spotifycont, .activitycont {
  opacity: 0.1;
  transition: opacity 0.2s ease;
  margin: 40px auto 200px;
  padding: 10px;
  width: 30%;
  height: 240px;
  border-radius: 25px;
}
.spotifycont .imgcont, .activitycont .imgcont {
  float: left;
  display: block;
  width: 240px;
  height: 240px;
}
.spotifycont .imgcont img, .activitycont .imgcont img {
  height: 100%;
  border-radius: 25px;
}
.spotifycont .spotifylink, .spotifycont .twitchlink, .activitycont .spotifylink, .activitycont .twitchlink {
  float: right;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
}
.spotifycont .spotifylink:hover .tooltiptext, .spotifycont .twitchlink:hover .tooltiptext, .activitycont .spotifylink:hover .tooltiptext, .activitycont .twitchlink:hover .tooltiptext {
  visibility: visible;
}
.spotifycont .spotifylink .tooltiptext, .spotifycont .twitchlink .tooltiptext, .activitycont .spotifylink .tooltiptext, .activitycont .twitchlink .tooltiptext {
  width: 150px;
  padding: 5px;
  top: -110%;
  left: -10%;
}
.spotifycont .spotifylink img, .spotifycont .twitchlink img, .activitycont .spotifylink img, .activitycont .twitchlink img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #000;
  outline: 2px #000 solid;
}
.spotifycont .twitchlink, .activitycont .twitchlink {
  border-radius: 0%;
}
.spotifycont .twitchlink img, .activitycont .twitchlink img {
  border-radius: 0%;
  background: none;
  outline: none;
}
.spotifycont .songinfo, .spotifycont .activityinfo, .activitycont .songinfo, .activitycont .activityinfo {
  float: right;
  width: 240px;
  text-align: center;
  display: block;
  font-size: 25px;
  padding-right: 10px;
  position: relative;
  top: 45%;
  left: -22%;
  transform: translate(50%, -50%);
}
.spotifycont #smallactivityimg, .activitycont #smallactivityimg {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.3333333333);
  border-radius: 25% 0;
  width: 96px;
  height: 96px;
  top: 154px;
  left: 154px;
}

.spotifycont {
  position: relative;
  float: left;
  left: 17%;
  background: rgba(30, 215, 96, 0.6666666667);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.spotifycont .progress {
  position: absolute;
  background: #fff;
  height: 5px;
  width: 0%;
  bottom: 0;
  left: 0;
  transition: width 1s linear;
}

.activitycont {
  position: relative;
  float: right;
  right: 17%;
  background: #8b44f7;
}

footer {
  position: fixed;
  background: rgba(0, 0, 0, 0.3333333333);
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
}/*# sourceMappingURL=custom.css.map */