body {
  font-family: monospace;
  overflow-x: hidden;
}
@font-face {
  font-family: "Discordinated";
  src: url("https://kckarnige.is-a.dev/femboi_owo/DISCORDINATED.woff");
  /* https://github.com/kckarnige/kckarnige.github.io/tree/main/femboi_owo */
}


.pfpstuff {
  $outline: #000 solid;
  $transition: all .5s ease;
  $sd-wh: 70px;

  display: block;
  margin: 40px auto 20px;
  width: 300px;
  height: 300px;

  #pfp {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    outline: 10px $outline;
  }
  #statusdot {
    background: #000;
    width: $sd-wh;
    height: $sd-wh;
    position: relative;
    border-radius: 50%;
    left: calc(($sd-wh * 4 - 58px));
    bottom: calc($sd-wh + 10px);
    outline: 7px $outline;
    &:hover .tooltiptext {
      visibility: visible;
    }
    .tooltiptext {
      padding: 5px 15px;
      top: 115%;
      left: 85%;
    }
  }
  /* i hate this so much but i have to do it */
}

.tooltiptext {
  visibility: hidden;
  background-color: #555a;
  backdrop-filter: blur(4px);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 17px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.otherstuff {
  font-family: Discordinated;
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  font-size: 25px;
  div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  /* ???? */

  #userid {
    $transition: .2s ease;
    cursor: pointer;
    padding: 5px;
    transform: translateY(0);
    transition: background $transition, transform .05s linear;
    &:hover {
      background: rgba($color: #fff, $alpha: .2);
      .tooltiptext {visibility: visible;}
    }
    &:active {
      transform: translateY(5px);
    }
    .tooltiptext {
      padding: 5px;
    }
  }

  #status img {
    position: relative;
    margin-right: 5px;
    height: 29px;
    vertical-align: middle;
    top: -2px;
  }
}

.spotifycont, .activitycont {
  $wh: 240px;
  opacity: .1;
  transition: opacity .2s ease;
  margin: 40px auto 200px;
  padding: 10px;
  width: 30%;
  height: $wh;
  border-radius: 25px;
  .imgcont {
    float: left;
    display: block;
    width: $wh;
    height: $wh;
    img {
      height: 100%;
      border-radius: 25px;
    }
  }

  .spotifylink, .twitchlink {
    float: right;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    &:hover .tooltiptext {
      visibility: visible;
    }
    .tooltiptext {
      width: 150px;
      padding: 5px;
      top: -110%;
      left: -10%;
    }
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: #000;
      outline: 2px #000 solid;
    }
  }

  .twitchlink {
    border-radius: 0%;
    img {
      border-radius: 0%;
      background: none;
      outline: none;
    }
  }
  
  .songinfo, .activityinfo {
    float: right;
    width: $wh;
    text-align: center;
    display: block;
    font-size: 25px;
    padding-right: 10px;
    position: relative;
    top: 45%;
    left: -22%;
    transform: translate(50%, -50%);
  }

  #smallactivityimg {
    $wh: 240px;
    $tl: 154px;
    display: block;
    position: absolute;
    background: #0005;
    border-radius: 25% 0;
    width: calc($wh * .4);
    height: calc($wh * .4);
    top: $tl;
    left: $tl;
  }
}

.spotifycont {
  position: relative;
  float: left;
  left: 17%;
  background: #1ed760aa;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .progress {
    position: absolute;
    background: #fff;
    height: 5px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: width 1s linear;
  }
}
.activitycont {
  position: relative;
  float: right;
  right: 17%;
  background: #8b44f7;
}



footer {
  position: fixed;
  background: #0005;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px 0;
}